@font-face {
  font-family: "Suse";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/SUSE-Regular.woff2") format("woff2"),
    url("/assets/fonts/SUSE-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Suse-SemiBold";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/SUSE-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/SUSE-SemiBold.ttf") format("ttf");
}

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --red: #f00d08;
  --green: #03c03c;
  --yellow: #fff714;
  --footer-height: 5rem;
}

html, body {
  background-color: #f0f0f0;
  font-family: Suse, sans-serif;
  min-height: 100vh;
  position: relative;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: calc(var(--footer-height) * 2);
}

.isBlurred {
  filter: blur(0.5rem);
}

.image-shadow {
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 1));
}

.hover-button:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.7));
  cursor: pointer;

  &:active {
    filter: drop-shadow(0 0 0 transparent);
    transform: scale(1);
  }
}

.hide {
  visibility: hidden;
}
